<aside class="ls-sidebar">
  <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
    <a href="#" class="ls-ico-user">
      <%= current_user.name %>
      <small><%= current_user.name.downcase.split(' ').join('.') %></small>
    </a>
    <nav class="ls-dropdown-nav ls-user-menu">
      <ul>
        <li><%= link_to(t('.logout'), panel_logout_url) %></li>
      </ul>
    </nav>
  </div>

  <nav class="ls-menu">
    <ul>
      <li><a href="/" class="ls-ico-eye"><%= t('.my_appointments') %></a></li>
      <li><a href="<%= panel_appointments_new_path %>" class="ls-ico-plus"><%= t('.schedule_massage_appointment') %></a></li>
    </ul>
  </nav>
</aside>
