<h1 class="ls-title-intro ls-ico-home"><%= t(:schedule_massage) %></h1>
<p><%= l(Time.zone.now, format: :long) %></p>
<hr>
<form>
  <table class="ls-table ls-table-striped">
    <thead>
      <tr>
        <th><%= t(:massage_date_and_hour) %></th>
      </tr>
    </thead>
    <tbody>
      <% @schedule_table.each do |timetable| %>
        <tr>
          <td>
            <label class="ls-display-block ls-float-left"><input type="radio" name="schedule"> <%= t(:today_at) %> <%= l(timetable, format: :short) %></label>
            <label class="ls-tag ls-tag-danger ls-float-right">restam 3 vagas</label>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="ls-actions-btn">
    <button class="ls-btn"><%= t(:to_schedule) %></button>
  </div>
</form>
