<h1 class="ls-title-intro ls-ico-home"><%= t(:my_schedules) %></h1>

<h2 class="ls-title-4"><%= t(:next_massage) %></h2>
<hr>
<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <h2 class="ls-title-5 ls-color-theme">Segunda-feira</h2>
      <small> 14:45 </small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <a onClick="return confirm('Você só poderá remarcar a massagem na próxima semana. Tem certeza que quer cancelar?')" href="#" class="ls-btn-primary">Cancelar</a>
    </div>
  </header>
</div>
<br>
<h2 class="ls-title-4"><%= t(:historical_schedules) %></h2>
<hr>

<% if @massages.nil? %>
  <p><%= t(:no_historical_massages_yet) %></p>
<% else %>
  <table class="ls-table ls-table-striped">
    <thead>
      <tr>
        <th><%= t(:massage_date_and_hour) %></th>
        <th><%= t(:status) %></th>
      </tr>
    </thead>
    <tbody>
      <% @massages.each do |massage| %>
        <tr>
          <td><%= l(massage.timetable, format: :default) %></td>
          <td><%= t(massage.status) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>