<h1 class="ls-title-intro ls-ico-home"><%= t(:my_schedules) %></h1>

<%= flash_message %>

<%= render partial: 'next_appointments' %>

<hr>

<% if @massages.nil? %>
  <p><%= t(:no_historical_massages_yet) %></p>
<% else %>
  <table class="ls-table ls-table-striped">
    <thead>
      <tr>
        <th><%= t(:massage_date_and_hour) %></th>
        <th><%= t(:status) %></th>
      </tr>
    </thead>
    <tbody>
      <% @massages.each do |massage| %>
        <tr>
          <td><%= l(massage.timetable, format: :default) %></td>
          <td><%= t(massage.status) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
