<h1 class="ls-title-intro ls-ico-home"><%= t('.schedule_massage') %></h1>
<%= flash_message %>

<p><%= l(Time.zone.now, format: :long) %></p>
<hr>
<% if @schedule_is_open %>
  <%= form_for(@massage, url: panel_appointments_path, html: { method: 'create' }) do |f| %>
    <table class="ls-table ls-table-striped">
      <thead>
        <tr>
          <th><%= t('.massage_date_and_hour') %></th>
          <th><%= t('.available_appointments') %></th>
        </tr>
      </thead>
      <tbody>
        <% @available_timetables.each do |timetable, available_masseurs| %>
          <tr>
            <td>
              <%= radio_button_tag(:timetable, timetable) %>
              <%= label_tag(:timetable, t('.timetable_at_date', timetable: "#{l(timetable, format: :short)}")) %>
            </td>
            <td>
              <%= available_masseurs %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="ls-actions-btn">
      <%= f.submit t('.schedule_massage'), class: "ls-btn" %>
    </div>
  <% end %>
<% else %>
  <%= t('.the_schedule_is_closed') %>
<% end %>
